<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <style>
        #chartdiv {
            width		: 100%;
            height		: 350px;
            font-size	: 11px;
        }
    </style>

    <title>{{ project_name }}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Memory Type</th>
                    <th class="text-center">Origin</th>
                    <th class="text-center">Size (bytes)</th>
                </tr>
                </thead>
                <tr>
                    <td class="text-center">Stack</td>
                    <td class="text-center">0x{{"%0x" | format(stack.origin | int) }}</td>
                    <td class="text-center">{{ stack.size }}</td>
                </tr>
                <tr>
                    <td class="text-center">Heap</td>
                    {% if heap %}
                    <td class="text-center">0x{{"%0x" | format(heap.origin | int) }}</td>
                    <td class="text-center">{{ heap.size }}</td>
                    {% else %}
                    <td class="text-center" colspan="2">Not reserved</td>
                    {% endif %}
                </tr>
            </table>
        </div>

        <div class="col-sm-8">
            <div id="chartdiv"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Library Name</th>
                    <th class="text-center">Size (bytes)</th>
                </tr>
                </thead>
                {% for lib in libraries %}
                {% if lib['functions'] %}
                <tr>
                    <td class="text-center">{{ lib['name'] }}</td>
                    <td class="text-center">{{ lib['size'] }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td class="text-center"><strong>TOTAL</strong></td>
                    <td class="text-center"><strong>{{ libraries | sum(attribute='size') }}</strong></td>
                </tr>
            </table>
        </div>
    </div>

    {% for lib in libraries %}
    {% if lib['functions'] %}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <p class="h4">{{ lib['name'] }} <small>({{ lib['size'] }} bytes)</small></p>
            <p></p>

            <table class="table table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Function Name</th>
                    <th class="text-center">Origin</th>
                    <th class="text-center">Size (bytes)</th>
                </tr>
                </thead>
                <tbody>
                {% for fnc in lib['functions'] %}
                <tr>
                    <td>{{ fnc['symbol'] }}</td>
                    <td class="text-center">0x{{"%0x" | format(fnc['origin'] | int) }}</td>
                    <td class="text-center">{{ fnc['size'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "pie",
        "theme": "light",
        "legend":{
            "position": "right",
            "marginRight": 100,
            "autoMargins": false
        },
        "dataProvider": {{ segments | safe }},
        "titleField": "name",
        "valueField": "size",
        "labelRadius": 5,
        "radius": "30%",
        "innerRadius": "40%",
        "labelText": "[[title]]"
    });
</script>
</body>
</html>
